<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">

    <a navbar class="brand">
        <img src="\assets\32792399088ff64c805fcb1a43c3bf3f.jpg" width="80px" height="80px">
    </a>
    <a class="navbar-brand" href="#">GOTY</a>
   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="inicio" >Inicio</a>
        <a class="nav-link" routerLinkActive="active"  routerLink="goty">Votar</a>
      </div>
    </div>
  </div>
</nav>